@tailwind base;
@tailwind components;
@tailwind utilities;

.card-height-width{
  width: 272px;
  height: 400px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.no-style-on-focus:focus {
  outline: none;
}

@layer base {
  * {
    font-family: "Poppins", sans-serif;
  }
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-4xl font-semibold;
  }
  h3 {
    @apply text-3xl font-normal;
  }
  h4 {
    @apply text-2xl font-medium;
  }
  p {
    @apply text-base font-light;
  }
  .header-img-wrapper {
    background-image: backgroundImage;
    object-fit: cover;
  }
}
